.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #E0F8F8; /* Matches the top and left navigation bar color */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #333; /* Text color for the heading */
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  input:focus, select:focus {
    border-color: #007bff; /* Focus border color */
    outline: none;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff; /* Button background color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc; /* Disabled button color */
    cursor: not-allowed;
  }
  .back-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff6f61; /* Custom color for the button */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px; /* Space between the button and form */
    text-align: center;
    font-weight: bold;
  }
  
  .back-button:hover {
    background-color: #e55d50; /* Hover color for the button */
  }

  button:hover:not(:disabled) {
    background-color: #0056b3; /* Button hover color */
  }
  