<div class="search-container">
    <h2>Find User</h2>
    <form  #searchForm="ngForm">
      <div class="form-group">
        <label for="search">Search by Username</label>
        <input type="text" id="search" name="search" [(ngModel)]="username" required>
      </div>
      <!-- <button type="submit" [disabled]="!searchForm.form.valid">Search</button> -->
      <button type="submit" (click)="searchUserByUsername(username)">Search</button>

    </form>
  
    <div *ngIf="found" class="user-card">
      <h3>User Found</h3>
      <p><strong>Name:</strong> {{ user.fullName }}</p>
      <p><strong>Username:</strong> {{ user.username }}</p>
      <p><strong>Designation:</strong> {{ user.designation }}</p>

    </div>
  
    <div *ngIf="!user && searchTerm">
      <p>Not Found</p>
    </div>
  </div>
  