/* Overall container */
.dashboard-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

/* Sidebar styling */
.sidebar {
    width: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    box-shadow: none; /* Remove the shadow */
    position: fixed; /* Fix sidebar to the left */
    top: 0;
    bottom: 0;
}

.site-name {
    font-size: 24px;
    color: #057a87;
    font-weight: bold;
}

/* Sidebar Logo */
.logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/* Sidebar Navigation */
nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li {
    padding: 15px;
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    color: #057a87;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li:hover {
    background-color: #d0efff;
    color: #000;
}

nav ul li.active, nav ul li.router-link-active {
    background-color: #057a87;
    color: #fff;
}

nav ul li i {
    margin-right: 10px;
}

/* Logout Button */
.logout-button {
    margin-top: auto;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 80%;
    text-align: center;
    transition: background-color 0.3s ease;
    border-radius: 8px; /* Rounded edges */
    margin-bottom: 20px; /* Move up by reducing margin-top */
}

.logout-button:hover {
    background-color: #333;
}

/* Main content styling */
.main-content {
    margin-left: 250px; /* Ensure the content is pushed to the right of the sidebar */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #d0efff; /* Adjusted blue color */
}

/* Top navigation styling */
.top-nav {
    background-color: #fff; /* Set the background color to white */
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: none; /* Remove the shadow */
    z-index: 1;
}

/* User info styling */
.user-info {
    display: flex;
    align-items: center;
}

.user-info i {
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.user-details {
    display: flex;
    align-items: center;
}

.user-details span {
    font-size: 16px;
    margin-right: 10px;
}

.user-details small {
    font-size: 12px;
    margin-right: 10px;
}

.user-details img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* Content area styling */
.content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #e6f7ff; /* Same color as the main content background */
}
