<body>
    <header>
        <div class="logo">
            <img src="/assets/finallogo.png" alt="Logo" />
        </div>
        <nav>
            <ul class="nav-links">
                <li class="nav-item">
                    <a href="#" class="nav-link">Who we are</a>
                    <div class="dropdown-content">
                        <p>
                            Learnity is a comprehensive Learning Management System
                            (LMS) designed to streamline and enhance the educational
                            experience within organizations. Our platform is built to
                            facilitate seamless course creation, user management, and
                            progress tracking, empowering both administrators and
                            learners alike.
                        </p>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">What we do</a>
                    <div class="dropdown-content">
                        <p>Tech Team Training</p>
                        <p>Leadership Development</p>
                        <p>Gen AI Skilling</p>
                        <p>Certifications</p>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Contact us</a>
                    <div class="dropdown-content">
                        <p>customercare.com</p>
                        <p>123456789</p>
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    <div class="background-container">
        <div class="content-section">
            <h1>Welcome to Learnity</h1>
            <p>Where learning is for eternity!</p>
        </div>
        <div class="login-section">
            <button class="login-button" [routerLink]="['/login']">Log in</button>
        </div>
    </div>
</body>
